.App {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.boardAndButtons {
  width: 100%;
}
.undoReset, .boardAndButtons {
  display: flex;
  margin: auto;
}
.moves {
  margin: auto;
  font-size: 24px;
}
