.row {
    display: flex;
    margin: auto;
}
.board {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.candidate {
    background-color: turquoise;
    cursor: pointer;
}
.normal {
    background-color: pink;
}
.zero {
    background-color: lightgray;
}
